name: External Libraries
on:
  push:
    branches:
      - main
      - build
    paths-ignore:
      - 'README*'
  schedule:
    - cron: '12 4 * * 4'
jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Set up'
        run: scripts/setup
      - name: 'Upload setup'
        uses: actions/upload-artifact@v1
        with:
          name: src-downloads
          path: dist
  Build:
    runs-on: windows-latest
    needs: Setup
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        wordsize: [64, 32]
    steps:
      - name: 'Disable git autocrlf'
        shell: bash
        run: git config --global core.autocrlf input
      - uses: actions/checkout@v2
      - name: 'Download dist'
        uses: actions/download-artifact@v2
        with:
          name: src-downloads
          path: dist
      - name: 'Build libraries'
        shell: cmd
        run: scripts/build-windows.bat ${{ matrix.wordsize }}
      - name: 'Upload staged files'
        uses: actions/upload-artifact@v1
        with:
          name: stage-${{ matrix.wordsize }}
          path: stage/${{ matrix.wordsize }}
  Package:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: actions/checkout@v2
      - name: 'Download dist'
        uses: actions/download-artifact@v2
        with:
          name: src-downloads
          path: dist
      - name: 'Download 32-bit stage'
        uses: actions/download-artifact@v2
        with:
          name: stage-32
          path: stage/32
      - name: 'Download 64-bit stage'
        uses: actions/download-artifact@v2
        with:
          name: stage-64
          path: stage/64
      - name: 'Package'
        run: scripts/package
      - name: 'Upload results'
        uses: actions/upload-artifact@v1
        with:
          name: distribution
          path: distribution
